In [1]:
from pyspark.sql import SparkSession
from pyspark import SparkContext
from pyspark import SparkConf
from pyspark.sql import functions as f
from pyspark.sql.functions import col, lit
from pyspark.sql import DataFrame

spark=SparkSession.builder.appName("Spark UDF Practise").getOrCreate()
sc=spark.sparkContext
#load the data into rdd
fileData=sc.textFile("/FileStore/tables/record*.csv")
fileData.first()

In [2]:
#define the data in rows/ lines
lineRDD=fileData.flatMap(lambda x : x.split("^B"))
lineRDD.first()

In [3]:
#define the column by removing the unicode delimiter ^A with , (comma)
rowRDD=lineRDD.map(lambda x: x.split("^A"))
rowRDD.first()

In [4]:
#create dataframe with above RDD with defined column name
df=rowRDD.toDF(["Name","Gender","Subject","Marks"])
df.printSchema()

In [5]:
#show data
df.show()